#title {
    width: 1000px;
    height: 100px;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    margin: auto;
    margin-top: 400px;
    animation: titleAni 2.2s 1.5s forwards;
    opacity: 0;
}

#main {
    position: relative;
    width: 1000px;
    height: 700px;
    top: 100px;
    margin: auto;
    background-color: aquamarine;
    background-image: url(../assets/cafe_pos.png);
    background-size: cover;
}



/* -------------------------------- animation ------------------------------- */
@keyframes titleAni {
    0%{opacity: 0;}
    50%{opacity: 1; margin-top: 400px; font-size: 120px;}
    100%{margin-top: 50px; font-size: 60px; opacity: 1;}
}